JbossAxisClient/src/main/resources/wsdl/registro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.arquitectura.meyss.es/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="registroWS" targetNamespace="http://ws.arquitectura.meyss.es/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.arquitectura.meyss.es/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.arquitectura.meyss.es/">
<xs:element name="getestado" type="tns:getestado"/>
<xs:element name="getestadoResponse" type="tns:getestadoResponse"/>
<xs:element name="getestados" type="tns:getestados"/>
<xs:element name="getestadosResponse" type="tns:getestadosResponse"/>
<xs:complexType name="getestados">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getestadosResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="acta">
<xs:sequence>
<xs:element minOccurs="0" name="nombre" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getestado">
<xs:sequence>
<xs:element minOccurs="0" name="tipo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getestadoResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="actas" nillable="true" type="tns:acta"/>
<xs:element name="acta" nillable="true" type="tns:acta"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.arquitectura.meyss.es/" targetNamespace="acta" version="1.0">
<xs:import namespace="http://ws.arquitectura.meyss.es/"/>
<xs:element name="acta" type="ns1:acta"/>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getestados">
    <wsdl:part element="tns:getestados" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getestadoResponse">
    <wsdl:part element="tns:getestadoResponse" name="result">
    </wsdl:part>
    <wsdl:part element="tns:acta" name="acta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getestado">
    <wsdl:part element="tns:getestado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getestadosResponse">
    <wsdl:part element="tns:getestadosResponse" name="result">
    </wsdl:part>
    <wsdl:part element="tns:actas" name="actas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistroWS">
    <wsdl:operation name="getestados">
      <wsdl:input message="tns:getestados" name="getestados">
    </wsdl:input>
      <wsdl:output message="tns:getestadosResponse" name="getestadosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getestado">
      <wsdl:input message="tns:getestado" name="getestado">
    </wsdl:input>
      <wsdl:output message="tns:getestadoResponse" name="getestadoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="registroWSSoapBinding" type="tns:RegistroWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getestados">
      <soap:operation soapAction="getestados" style="document"/>
      <wsdl:input name="getestados">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getestadosResponse">
        <soap:header message="tns:getestadosResponse" part="actas" use="literal">
        </soap:header>
        <soap:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getestado">
      <soap:operation soapAction="getestado" style="document"/>
      <wsdl:input name="getestado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getestadoResponse">
        <soap:header message="tns:getestadoResponse" part="acta" use="literal">
        </soap:header>
        <soap:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="registroWS">
    <wsdl:port binding="tns:registroWSSoapBinding" name="RegistroWSImplPort">
      <soap:address location="http://localhost:8080/JbossAxisServer/registroWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>